<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="repair_full">
    
    <xacro:include filename="$(find braccio_description)/urdf/braccio_model.urdf" />

    <xacro:include filename="$(find braccio_description)/urdf/camera_mount.urdf" />

    <!-- <link name="world"/>

    <xacro:mounting parent="world">
    </xacro:mounting> -->

</robot>